extends layout

block content
  h1= title
  div {{lightData.author}}
  div H {{lightData.testlight.h}}
  div S {{lightData.testlight.s}}
  div B {{lightData.testlight.b}}
  div A {{lightData.testlight.a}}
  div On {{lightData.testlight.hex}}
  div {{myStyle}}
  div(style="width:600px; height:600px; border:1px solid black; background-color: {{lightData.testlight.hex}}")


